
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
  font-size: 13px;
  letter-spacing: 0.5px;
}

button {
  background-color: pink;
  height: 20px;
  border: 1px solid black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 5px 5px 5px 0;
}

ul {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.index-view {
  position: relative;
  display: block;
  height: 100%;
  text-align: center;
}

.index-wrapper {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
}

.index-title {
  display: block;
  text-align: left;
}

.index-title h1 {
  margin: 0.25em 0;
  padding: 0;
}

.index-cats, .index-map {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.index-cats {
  padding: 25px 0 0 30px;
}

.cats {
  max-height: 425px;
  overflow: scroll;
}

.new-cat {
  margin: 1em 0;
}

.mapp {
  width: 700px;
  height: 500px;
}